{% extends "Master/PanelController.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    
    <script type="text/javascript" language="javascript" src="Plugins/FacturacionCostaRica/Assets/JS/jquery.dataTables.js"></script>
    <script type="text/javascript" language="javascript" src="Plugins/FacturacionCostaRica/Assets/JS/dataTables.bootstrap4.js"></script>

    <script type="text/javascript" language="javascript" class="init">
        $(document).ready(function() {
                $('#example').DataTable();
        } );
    </script>
{% endblock %}

{% block bodyHeaderOptions %}
    {% set pageData = fsc.getPageData() %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-1">
                <a class="btn btn-sm btn-outline-secondary" href="{{ fsc.url() }}">
                    <i class="fas fa-sync" aria-hidden="true"></i>
                </a>
            </div>
            <div class="col-11 text-right">
                <h1 class="h3">
                    {{ fsc.title }}
                    <i class="{{ pageData.icon }} fa-fw" aria-hidden="true"></i>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr/>
            </div>
        </div>
    </div>
    <div class="container">
    <!-- Content here -->        
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>Tokyo</td>
                <td>63</td>
                <td>2011/07/25</td>
                <td>$170,750</td>
            </tr>
            <tr>
                <td>Ashton Cox</td>
                <td>Junior Technical Author</td>
                <td>San Francisco</td>
                <td>66</td>
                <td>2009/01/12</td>
                <td>$86,000</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </tfoot>
    </table>   
        
    </div>
{% endblock %}